*{
    box-sizing: inherit;/*kế thừa*/    
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;/*độ cao chữ 16px*/
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* Test */
.grid__column-2{
    padding-left:5px;
    padding-right:5px;
    width:16.6667%;
}
.grid__column-2-4{
    padding-left:5px;
    padding-right:5px;
    width:20%;
}
.grid__column-10{
    padding-left:5px;
    padding-right:5px;
    width:83.3333%;
}
/* Modal */
.modal{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:flex;
}
.modal__overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal__body{
    z-index: 1;
    border-radius: 5px;
    margin:auto;
    background-color:white;
}
/* button */
.btn{
    min-width:142px;
    height:36px;
    outline: none;
    border: none;
    border-radius:2px;
    font-size: 1.4rem;
    font-weight:420;
    color: rgb(68, 66, 66);
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    line-height: 3.6rem;
}
.btn--return:hover{
    background-color: rgb(240, 238, 238);
}
.btn.btn--primary{
    color:white;
    background-color: rgba(240,98,70);
}

/* Seclection */
.select-input{
    height: 36px;
    background-color: white;
    padding:0 12px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

/* Pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination-item{
    margin:0 16px;
}
.pagination-item__link{
    text-decoration: none;
    font-size: 2rem;
    color:#939393;
    min-width:40px;
    height:30px;
    font-weight:300;
}
.pagination-item__active .pagination-item__link{
    display: block;
    background-color:rgba(240,98,70);
    color: white;
    text-align: center;
    line-height:30px;
    border-radius: 2px;
}
.pagination-item__active .pagination-item__link:hover{
    background-color:rgb(231, 125, 104);
}
/* .pagination-item__link-icon{

} */
